@model Book
@{
	ViewData["ShowButtons"] = false;
}

<h2>Delete Confirmation</h2>

<div class="alert alert-danger">
	<partial name="_DisplayBookPartial" model="Model"/>		
	<div>
		<h5>Are you sure you want to delete book = @Model.Id</h5>
		<form method="post">
			<button type="submit" class="btn btn-danger">Yes</button>
			<a asp-controller="Books" asp-action="Index">No</a>
		</form>
	</div>
</div>
	
