<h3>
	An error occured while porcessing the request
</h3>
<hr />
<h3>Exception Details</h3>
<div class="alert alert-danger">
	<h5>Exception Path</h5>
	<hr />
	<p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
	<h5>Exception Message</h5>
	<hr />
	<p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
	<h5>Exception Stacktrace</h5>
	<hr />
	<p>@ViewBag.StackTrace</p>
</div>