@model IEnumerable<LanguageCount>

	<h3>Book Count by Language</h3>

	<table class="table table-bordered">
		<tr class="thead-light">
			<th>Language</th>
			<th>Count</th>
		</tr>

		@foreach(var item in Model)
	{
		<tr>
			<td>@item.Language</td>
			<td>@item.Count</td>
		</tr>
	}
</table>